/***************************css fornavbar****************************/

#navbar
   {
    
   }

  #logo
  {
    font-size:36px;
    font-weight:700;
    color:black;
    text-shadow:0px 1px 1px black;
    margine-top:0px;
    margin-botom: 2px;
    
  }
 #logo span{
      color:#E74C3C;
    }
 



/************************************css for navbar******************************/

  .menu
     {
       padding-top=0px;
       font-family: 'arial';
     
       font-size:18px;
       font-weight:300;
       text-shadow:0px 1px 1px red;
       
     }

  .navbar-nav{
      margine-left:20px;
     }
    .menu a
  {
     text-decoration:none;
     color:black;
  }
 
   .menu a:hover
   {
     text-decoration:none;
     color:black;
     font-weight:bold;
  }


  


#wrapper{
     text-align:center;
     color:white;
     background-color:rgba(0,0,0,0.3);
     margine:auto;
     padding:40px;
     border-radius:5px;
     border-shadow:0 0 10px #000;
     position: absolute;
     top:0px;
     bottom:0px;
     left:0px;
     right:0px;
     width: 100%;
     height:100%;
     
   }

  #wrapper span{
      color:#F1C40F;
    }
        

 /********CSS Code for Heading Title**********/ 

 .heading-title 
   {
     padding-bottom: 40px;
     text-align:center;
   } 

 .heading-title h2 
  {
     font-size: 14px;
     font-weight: 500;
     padding: 0;
     line-height: 1px;
     margin: 0 0 5px 0;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #aaaaaa;
     font-family: sans-serif;
  }

.heading-title h2::before 
  {
     content: "";
     width: 120px;
     height: 1px;  
     display: inline-block;
     
     background:#E74C3C ;
     margin: 4px 10px; 
  }

.heading-title h2::after 
  {
     content: "";
     width: 120px;
     height: 1px;  
     display: inline-block;
     background: #E74C3C;
     margin: 4px 10px; 
  }

.heading-title p 
  {
     margin-left: 0;
     font-size: 36px;
     font-weight: 700;
     text-transform: uppercase;
     font-family: sans-serif;
     color:  #E74C3C;
   }
/*********************************************css for booking form***************************/


  .card{
  margin:auto;
  border:solid 1px #dbdad7; 
  width:80%; 
  padding-left:10px!important;
  padding-bottom:10px!important;
  padding-right:10px!important;
  padding-top: 0px!important;
  
}

.card-title{
  margin:auto;
  padding:15px;
  background-color: #2f7fad;
  color: white;
  width:80%;
}

div.card-body{
  padding:0px;
}
.custom-select{
  width:100%;
}

.btn2{
  margin-left:10%;
}
input {
  outline: 0!important;
  border-width: 0 0 2px!important;
  border-color: #d1d1cf!important;
}
input:focus {
  border-color: #d1d1cf!important;
 -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

select{

 outline: 0!important;
  border-width: 0 0 2px!important;
  border-color: #d1d1cf!important;
}

select:focus{
    border-color: #d1d1cf!important;
 -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.radiobtn{
  margin-left: 3.5%;
}

.icons{
  margin:auto!important;

}

.fa{
  border-radius: 25px;
  width: 10%;
  margin-left: 5%;
  border:solid 2px #dbdad7;
  margin-top:5%;
  text-align: center;
}

.fa-plane{
  color:#1cad9f;
}

.fa-taxi{
  color: #c2f700;
}

.fa-train{
  color:red;
}

@media only screen and (max-width: 600px) {
  .card{
    margin:auto;
    border:solid 1px #dbdad7;
    width:90%;
    padding-left:10px!important;
    padding-bottom:10px!important;
    padding-right:10px!important;
    padding-top: 0px!important;
  
  }

  .fa{
    border-radius: 25px;
    width: 15%;
    margin-left: 5%;
    border:solid 2px #dbdad7;
    margin-top:5%;
    text-align: center;
  }
}



/********************************css for footer*****************************/

  #footer{
        padding-top:20px;
        text-align:center;
        background-color:#ABB2B9  ;
         }
  #footer span{
      color:#E74C3C;
    }

 footer h1{
          font-weight:bold;
          text-shadow:0px 0px 1px black;
         }
 

footer a
  {
     text-decoration:none;
     
  }
 
 footer a:hover
   {
     text-decoration:none;
     color: black;
     font-weight:bold;
  }